.section-header {
    background-image: radial-gradient(#e1bf0b, #c45706, #c45706);
    background-position: -50rem -50rem;
    background-size: 100rem 100rem;
    background-repeat: no-repeat;
    background-color: #c45706;
    position: relative;
    overflow: hidden;
    padding-top: 4rem;
}

img.section-header-separator-image {
    position: absolute;
    bottom: -3rem;
    width: 104%;
    left: -2%;
}

.section-header-div {
    padding-bottom: 8rem;
    text-align: center;
    color: #fafafa;
}