.shiv-book-sub-name {
    text-indent: 11rem;
}

.typo-accent.chapter-english-name {
    text-indent: 4rem;
}

.shiva-verse {
    padding: 1.5rem 0;
}

.shiva-verse-sanskrit {
    white-space: pre-line;
    padding-bottom: 0.6rem;
}